.writing-area{
    min-width: 100%;
    min-height: 90vh;
    margin: auto;
    padding: 10px;
    /* text-align: center; */
    color: wheat;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    
}
.title-input{
  margin: auto;
  border: 3px solid wheat;
  border-radius: 30px;
  background-color: #282c34;
  width: 85%;
  height: 60px;
  padding: 10px;
  font-size: 20px;
  font-family: monospace;
  color: wheat;
  margin-bottom: 20px;
}
.body-input{
    display: block;
    margin: auto;
    background-color: #282c34;
    width: 100%;
    min-height: 5vh;
    max-height: fit-content;
    color: wheat;
    border: 3px solid wheat;
    border-radius: 20px;
    
}
.title-area{
    flex-wrap: nowrap;
    display: flex;
    flex-direction: row;
    width: 100%;
}
input{
    border-color: wheat;
}