.blog-view{
    display: flex;
}
.blog{
    border: 3px solid wheat;
    border-radius: 20px;
    color: wheat;
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
}

.image{
    border-radius: 15px;
}
.title{
    margin-top: 20px;
}
.text-div{
    background-color: wheat;
    color: #282c34;
    border: 0px solid wheat;
    border-radius: 10px;
    margin-bottom: 10px;
}

.summary-text{
        /* overflow: hidden;
        text-overflow: ellipsis;
        display: flex;
        margin: auto;
        */
}
