*{
  box-sizing: border-box;
}
body{
  margin: 0;
}

.select-header{
    top: 2em;
    position: fixed;
    display: flex;
    max-width: min-content;
    height: 95%;
    color: black;
    background-color: wheat;
    border-radius: 40px;
    font-family: monospace;
  }

.links{
  color: inherit;
  text-decoration: none;
}
.items{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: column;
    row-gap: 200px;
    column-gap: 5em;
    font-size: 17px;
}