*{
  box-sizing: border-box;
}
body{
  margin: 0;
}
.nav-bar{
  width: 90%;
}
.select-header{
    top: 0;
    position: fixed;
    display: flex;
    width: 95%;
    margin: auto;
    color: black;
    background-color: wheat;
    border-radius: 20px;
    margin-left: 40px;
    font-family: monospace;
  }

.links{
  color: inherit;
  text-decoration: none;
}
.items{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    row-gap: 50px;
    column-gap: 3em;
    font-size: 18px;
}